---
# Only the main Sass file needs front matter (the dashes are enough)
---

$color-2: #222222;
$black: #424242;
$color-4: #444444;
$color-6: #666666;

$devctl-green: #2fcc71;
$devctl-red: #fc2d1e;
$devctl-blue: #3398db;
$devctl-yellow: #f1c40d;
$devctl-magenta: #6171c4;
$devctl-cyan: #0095de;


@import "bootstrap-sass-3.3.7/assets/stylesheets/_bootstrap.scss";
@import "_base.scss";
@import "cayman.scss";
@import "normalize.scss";
@import "_code.scss"