.table-of-contents {
  padding-bottom: 1em;
}


// @media (max-width: breakpoint-max("sm")) {
@media (max-width: 768px) {
  #toc-body {
    display: none;
  }
}

#toc-header {
  i {
    font-size: 0.7em;
  }
}
@media (min-width: 768px) {
  #toc-header {
    display: none;
    .fa {
      font-size: 0.7em;
    }
  }
}

